<div class="membership-wrapper">
    <div class="container">
        <div class="membership">
            <img src="{{asset "/images/logo-vertical-word-image-design.jpg"}}" alt="Rediverge">
            <h2 class="membership-title">{{t "Fork everything."}}</h2>
            <p class="membership-subtitle">{{t "An ongoing story of doing things the hard way. Bootstrapping, remote work,
            publishing, open source and world travel."}}</p>
            <div class="membership-cta">
                <a class="button" href="/about/">{{t "Learn more"}}</a><a class="button primary" href="#"
                    data-members-signin="" data-portal="signup">{{t "Sign up now"}}</a>
            </div>
            <div class="membership-grid">
                <div class="membership-grid-item">
                    {{> icons/content}}
                    <h4>{{t "Exclusive content"}}</h4>
                    <p>{{t "An uncensored story about a decade of building a business while travelling the world."}}</p>
                </div>
                <div class="membership-grid-item">

                    {{> icons/guides}}
                    <h4>{{t "Detailed guides"}}</h4>
                    <p>{{t "What works and what doesn't, from logistics to gear, locations and finding a healthy balance."}}
                    </p>
                </div>
                <div class="membership-grid-item">
                    {{> icons/newsletter}}
                    </svg>
                    <h4>{{t "Weekly newsletter"}}</h4>
                    <p>{{t "A reading list of the most interesting stories in the world of remote-work and travel."}}
                    </p>
                </div>
                <div class="membership-grid-item">
                    {{> icons/audio}}
                    <h4>{{t "Ask me anything"}}</h4>
                    <p>{{t "Send in your requests to help determine what stories and subjects get covered next."}}</p>
                </div>
            </div>

        </div>
    </div>
</div>